header{
    border: 2px solid black;
    display: flex;
    justify-content: end;
    padding: 10px;


}

header a{
    margin-right: 50px;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.main{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2%;
    margin-top: 3%;

}
.main img{
    height: 400px;
    width: 100%;

}